<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Gas Price Prediction Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script type="text/javascript" src="static/js/logic.js"></script>
    <!--Placeholder for datatable link-->


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/references">References</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Data Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau">First Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau2">Second Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/model">Live ML Prediction</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    

      <div class="row" background-color: transparent>
        <div class="col-md-12 jumbotron text-left">
            <h1>Predicting Natural Gas Prices</h1>
        </div>
    </div>
    
    <div class="row" background-color: transparent>
      <div class="col-md-12 jumbotron text-left">
        <h1 id="main_header" class="header">Inspiration</h1>

        <p>With all the uncertainty lately in prices at the pump, this is also being mirrored in the natural gas market. 
            We wanted to see if we could develop a machine learning model to predict price changes in natural gas based on a few variables.
        </p>
        <br>
        <br>
        <h3>These Variables being: </h3>
        <ul style="list-style: none;">
            <li>Node or Location </li>
            <li>Volatily</li>
            <li>Demand/Consumption</li>
            <li>and Inventory</li>
        </ul>
        
        <h3>Objective </h3>
        <p>Create a machine learning model to predict natural gas prices in the future.</p>
      </div>
    </div>
    
</body>
</html>