<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Gas Price Prediction</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script type="text/javascript" src="static/js/script.js"></script>
    <!--Placeholder for datatable link-->


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid navbar-custom">
  
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="col-xs-9 phone-nav">
                <a class="navbar-brand" href="#" id="logo">Menu</a>
              </div>
            </div>
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right navbar-right-custom">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboards/Model<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/tableau">First Dashboard Placeholder</a></li>
                    <li><a href="/tableau2">Second Dashboard</a></li>
                    <li><a href="/model">Live ML Prediction</a></li>
                  </ul>
                </li>
                <a href="/">Home</a>
                <a href="/team">Meet the Team</a>
                <a href="/reference">References</a>
                <a href="/data">Data Table</a> <!-- href has to be the flask app function-->
                <br>
                <a href="/writeup">Machine Learning Explanation</a>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>
      <!-- End of navbar -->

      <div class="row" background-color: transparent>
        <div class="col-md-12 jumbotron text-left">
            <h1>Predicting Natural Gas Prices</h1>
        </div>
    </div>