<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!--Placeholder for datatable link-->


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/team">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/references">References</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Data Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau">First Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tableau2">Second Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/model">Live ML Prediction</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Meet The Team</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
              <center>
                <h1 id="main_header" class="header">Nicklaus Austin</h1>
                <img src="https://ca.slack-edge.com/T02N0SW27TQ-U02P6ETCXBL-278e1c734b5e-512" alt="Nick Photo" style="border-radius:50%;">
                <p>Nick Bio Placeholder. Nick was tasked with creating the Tableau visualizations.</p>
                <br>

                <h1 id="main_header" class="header">Calvin Cusick</h1>
                <img src=" https://ca.slack-edge.com/T02N0SW27TQ-U02PHFUJ482-2852b25fe3d1-512" alt="Calvin Photo" style="border-radius:50%;">
               
                <p>Calvin is an Inventory Control manager for Nordstrom and currently taking data analytics courses through SMU. In his spare time he enjoys watching baseball, and updating and maintaining his record and movie collections. Calvin was tasked with creating and deploying the final website. </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 id="main_header" class="header">Enoc Serge Kouegbe</h1>
                <img src="https://ca.slack-edge.com/T02N0SW27TQ-U02PGTL2K0E-066fb878b17a-512" alt="Enoc Photo" style="border-radius:50%;">
                <p>Enoc is a Business Analyst with successful experience in eliciting, analyzing, and documenting the requirements for business processes, policies, and information systems. Worked as a liaison among business stakeholders to understand business problems and opportunities in the context of requirements and recommend solutions that enable the organization to achieve its goals. Enoc was tasked with helping Nick with the Tableau visualizations and the final write up.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 id="main_header" class="header">Joseph Onwukeme</h1>
                <img src="https://ca.slack-edge.com/T02N0SW27TQ-U02P8NMMV2Q-2e48a0e59e0e-512" alt="Joseph Photo" style="border-radius:50%;">
               
                <p>Joseph Bio Placeholder. Joseph was tasked with data cleaning and making the machine learning model.</p>
                </center>
                </div>
              </div>
            </div>
            </body>
</html>